/modulo1/exercicio-exceptions/.idea/
/modulo1/exercicio-stream/.idea/
/modulo1/homework02/.idea/
/modulo1/homework03/.idea/
/modulo1/homework03/out/
/modulo1/lista2/exercicio-stream.iml
/modulo1/lista1/lista1.iml

